<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Now Playing Country Trivia</title>
    <link rel="stylesheet" href="{{url_for("static", filename="css/main.css")}}">
</head>

<body>
    <div class=container>
        <div class=prompt>
            {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        <form action="user_response" method="post">
            <input type="text" name="player_answer" id="answer_box">
            <br>
            <input type="submit" value="Check Answer" id="enter">
        </form>
    </div>   
</body>

</html>