<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Now Playing Country Trivia</title>
    <link rel="stylesheet" href="{{url_for("static", filename="css/main.css")}}">
</head>

<body>
    <div class=container>
        <div class=prompt>
            <p>{{prompt}}</p>
        </div>
        <form method="POST">
            <p>{{form.answer}}</p>
            <p>{{form.check_answer}}</p>
            <div class=result>
        </div>
        </form>
        <div class=result>
            <p>{% for message in get_flashed_messages()%}
                {{message}}
                {%endfor%}
            </p>
        </div>
    </div>
</body> 
</html>